.navbar{
  height: 6.5rem;
  background-color: lightgray;
  padding: 1rem;
.nav-links{
  .logo{
    display:inline-block;
  }
  .logo{
    color: green;
    margin-right:50% ;
  }
  .nav-links{
      color:yellow;
      font-size:1.6rem;
  }
    }
}
