<div class="auth-page">
  <div class="container">
    <div class="row">
       <div class="col-md-6 col-md-offset-3 col-xs-12">
         <h1 class="text-center">LOGIN</h1>
          <form ng-submit="$ctrl.submitForm()">
            <fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  type="text"
                  placeholder="Username"
                  ng-model="$ctrl.formData.username" />
              </fieldset>

              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  type="password"
                  placeholder="Password"
                  ng-model="$ctrl.formData.password" />
              </fieldset>

              <button class="btn btn-lg btn-primary pull-xs-right col-md-offset-5"
                type="submit">
                Login
              </button>

            </fieldset>
          </form>
       </div>
    </div>
  </div>
</div>
